
@model Corum.Models.NavigationResult<Corum.Models.ViewModels.Cars.RouteIntervalTypesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Интервалы маршрута";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@helper TPagging(string action, string controller, Corum.Models.NavigationInfo navInfo, WebViewPage page)
{
    <div class="table-footer clearfix">

        @{
            var proc = string.Concat("OnPageSizeTemplateChange('", page.Url.Action(@action, @controller), "');");
        }

        <div class="pull-left dropdown-footer">
            @page.Html.DropDownListFor(model => navInfo.PageSize,
                                 (List<System.Web.Mvc.SelectListItem>)navInfo.PageSizeTemplates,
                                                   new { @id = "PageSizeTemplates", onchange = proc })
        </div>

    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 main">
            <h4 class="centered_column">Реестр интервалов маршрута</h4>
            <div class="table-header clearfix">
                <div class="row main">
                    @Html.ActionLink("Новый+", "NewRouteIntervalType", "Cars", null, new { @class = "btn btn-primary", @style = "margin-bottom:10px" })
                </div>
            </div>
            <div style="font-size: 13px;">
                @(Html.Grid(Model.DisplayValues)
                          .Columns(columns =>
                          {
                          columns.Add(model => model.IntervalTypeName)
                          .Titled("Тип интервала<br>маршрута").Filterable(true).Sortable(true);

                          columns.Add(model => model.MaxInterval)
                          .Titled("Максимальный<br>интервал<br>маршрута").Filterable(true).Sortable(true);


                          columns.Add()
                         .Titled("Действия")
                         .Encoded(false)
                         .Sanitized(false)
                         .Css("centered_column")
                         .RenderValueAs(o =>
                        @<div class="edit-delete-copy-links">
                            <a class="tarash-i update_link tooltips" href="@Url.Action("UpdateRouteIntervalType", "Cars", new {intervalId = o.Id})">
                                <span class="tooltip-message">Изменить тип интервала маршрута</span>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <a class="tarash-i tooltips" href="@Url.Action("DeleteRouteIntervalType", "Cars", new {intervalId = o.Id})" onclick="return confirm('Хотите удалить тип интервала маршрута?');">
                                <span class="tooltip-message">Удалить тип интервала маршрута</span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>

                        </div>);


                          }).Filterable().WithPaging((int)Model.RequestParams.PageSize).WithMultipleFilters())
            </div>
       

        @TPagging("RouteIntervalTypes", "Cars", @Model.RequestParams, this)

    </div>
</div>
</div>

