@model Corum.Models.OrderNavigationResult<Corum.Models.ViewModels.OrderConcurs.OrderCompetitiveListViewModel>

<link type="text/css" rel="stylesheet" href="~/Content/Tender/MessageStyle.css" />
<container style="display:none;">
    <div class="contSendMessage" id="partialMessageToContr">
        <p class="pWinner">Победителям:</p>
        <div id="sectOtherWinner" class="sectOtherColor">

        </div>


        <p class="pWinner">Проигравшим:</p>
        <div id="sectOtherColor" class="sectOtherColor">

        </div>
    </div>

</container>


<script>
    let allContragents = [];
    let competitiveListInfo = JSON.parse(sessionStorage.getItem('CompetitiveListInfo'));
    class Winner {
        constructor(expeditorName, numberTender, order, transportationType, route, nameOfCargo, cargoWeight, dowloadingDate,
            unloadingDate, description, price, paymentDeferment, emailContragent) {
            this.expeditorName = expeditorName;
            this.numberTender = numberTender;
            this.order = order;
            this.transportationType = transportationType;
            this.route = route;
            this.nameOfCargo = nameOfCargo;
            this.cargoWeight = cargoWeight;
            this.dowloadingDate = dowloadingDate;
            this.unloadingDate = unloadingDate;
            this.description = description;
            this.price = price;
            this.paymentDeferment = paymentDeferment;
            this.isWinner = true;
            this.emailContragent = emailContragent;
        }
        numberOfVehicles = 1;
        countWinner = 1;
    };
    class Loser {
        constructor(expeditorName, numberTender, order, transportationType, route, nameOfCargo, cargoWeight, price, emailContragent) {
            this.expeditorName = expeditorName;
            this.numberTender = numberTender;
            this.order = order;
            this.transportationType = transportationType;
            this.route = route;
            this.nameOfCargo = nameOfCargo;
            this.cargoWeight = cargoWeight;
            this.price = price;
            this.emailContragent = emailContragent;
        }
        countLoser = 1;
    };
    let listWinners = [];
    let listLosers = [];
    let listSameWinners = [];
    let listSameLosers = [];


    function SendMessageToContragents(orderId) {


        $('#partialMessageToContr')
            .dialog(
                {
                    dialogClass: "jq-dialog-window-custom  modal_dialog",
                    autoOpen: false,
                    width: 800,
                    top: 50,
                    resizable: false,
                    tags: true,
                    title: "Уведомление контрагентам",
                    modal: true,
                    open: function (event, ui) {
                        let btnFocus = document.getElementById('btnCancelFoc');
                        let linkToFormContr = document.getElementById('linkToFormContr');
                        $(linkToFormContr).blur();
                        $(btnFocus).blur();

                        let DropDownListTender = document.getElementById('drpDwnListTend');
                        let tendNumber = Number(DropDownListTender.textContent.replace(" ", ""));
                        DeleteOldDataContragents();
                        SetDataMessageToContragents(tendNumber);


                    },

                    close: function (event, ui) {

                        $(this).dialog('destroy');
                    },
                    create: function (event, ui) {
                        $("#disable_all").addClass("disable_all");
                    },
                    beforeClose: function (event, ui) {
                        $("#disable_all").removeClass("disable_all");
                    },
                    buttons:
                        [
                            {
                                text: "Отмена",
                                "class": 'cancel-btn btn btn-primary',
                                id: "btnCancelFoc",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            },
                            {
                                text: "Отправить",
                                "class": 'btn btn-success',
                                click: function () {

                                    $(this).dialog("close");

                                }
                            }
                        ]
                });

        $('#partialMessageToContr').dialog('open');

        return;
    }


    // Заполнение данных о победителях и проигравших контрагентах в модальное окно
    function SetDataMessageToContragents(tenderNumber) {
        allContragents = (JSON.parse(sessionStorage.getItem('listDisplayValues')))[tenderNumber];
        if (allContragents != null && allContragents.length != 0) {
            for (const val of allContragents) {
                switch (val.IsSelectedId) {
                    case false: {
                        listLosers.push(val);
                        break;
                    }
                    case true: {
                        listWinners.push(val);
                        break;
                    }
                }
            };

            for (let x = 0; x < listWinners.length; x++) {
                if (listWinners[x] != undefined) {
                    listSameWinners.push(new Winner(listWinners[x].ExpeditorName, listWinners[x].tenderNumber, listWinners[x].OrderId,
                        listWinners[x].NameSpecification, @Html.Raw(Json.Encode(Model.CompetitiveListInfo.Route)), @Html.Raw(Json.Encode(Model.CompetitiveListInfo.TruckDescription)),
                        listWinners[x].cargoWeight, @Html.Raw(Json.Encode(Model.CompetitiveListInfo.FromDate)), @Html.Raw(Json.Encode(Model.CompetitiveListInfo.ToDate)), listWinners[x].itemDescription,
                        listWinners[x].CarCost, listWinners[x].DaysDelayStep2, listWinners[x].emailContragent));
                    for (let y = x + 1; y < listWinners.length; y++) {
                        if (listWinners[y] != undefined && listWinners[x].ExpeditorName == listWinners[y].ExpeditorName &&
                            listWinners[x].NameSpecification == listWinners[y].NameSpecification &&
                            listWinners[x].CarCost == listWinners[y].CarCost) {
                            if (listSameWinners != null && listSameWinners != 0) {
                                listSameWinners.forEach(function (val) {
                                    if (listWinners[y] != undefined && val.expeditorName == listWinners[y].ExpeditorName) {
                                        ++val.countWinner;
                                        ++val.numberOfVehicles;
                                        delete listWinners[y];
                                        return;
                                    }
                                });
                            }
                        }
                    }
                }
            }

            for (let x = 0; x < listLosers.length; x++) {
                if (listLosers[x] != undefined) {
                    listSameLosers.push(new Loser(listLosers[x].ExpeditorName, listLosers[x].tenderNumber, listLosers[x].OrderId,
                        listLosers[x].NameSpecification, @Html.Raw(Json.Encode(Model.CompetitiveListInfo.Route)), @Html.Raw(Json.Encode(Model.CompetitiveListInfo.TruckDescription)),
                        listLosers[x].cargoWeight, listLosers[x].CarCost, listLosers[x].emailContragent));
                    for (let y = x + 1; y < listLosers.length; y++) {
                        if (listLosers[y] != undefined) {
                            if (listLosers[y] != undefined && listLosers[x].ExpeditorName == listLosers[y].ExpeditorName &&
                                listLosers[x].NameSpecification == listLosers[y].NameSpecification &&
                                listLosers[x].CarCost == listLosers[y].CarCost) {
                                if (listSameLosers != null && listSameLosers != 0) {
                                    listSameLosers.forEach(function (val) {
                                        if (listLosers[y] != undefined && val.expeditorName == listLosers[y].ExpeditorName) {
                                            ++val.countLoser;
                                            delete listLosers[y];
                                            return;
                                        }
                                    });
                                }
                            }
                        }

                    }
                }
            }

        }
        CreateHTMLTableWithDataWinnersContragents();
        CreateHTMLTableWithDataLosersContragents();
    }
    // Метод для создания и вывода данных о победителях контрагентах в модальное окно
    function CreateHTMLTableWithDataWinnersContragents() {
        let sectOtherWinner = document.getElementById('sectOtherWinner');



        for (const val of listSameWinners) {

            // Создание вложенного контейнера div
            let forcheckBoxContrDIV = document.createElement('div');
            $(forcheckBoxContrDIV).addClass('forcheckBoxContr');

            // Создание чекбокса для выбора контрагента
            let checkboxContragent = document.createElement('input');
            $(checkboxContragent).attr('type', 'checkbox');
            $(checkboxContragent).attr('checked', 'checked');
            forcheckBoxContrDIV.appendChild(checkboxContragent);
            let detWinner = document.createElement('details');
            $(detWinner).attr('id', 'detWinner');
            $(detWinner).attr('style', 'margin-top: 1px;');

            // Создание выпадающего заголовка контрагента
            let summary = document.createElement('summary');
            let prepos = `${val.expeditorName} (${val.countWinner} ${(val.countWinner > 1)?'предложения':'предложение'})`;
            $(summary).text(prepos);
            detWinner.appendChild(summary);

            // Создание контейнера в выпадающем элементе
            let messageToContragents = document.createElement('div');
            $(messageToContragents).attr('id', 'messageToContragents');
            $(messageToContragents).addClass('messageToContrag');

            // Создание вложенного контейнера в messageToContragents
            let messFromTo = document.createElement('div');
            $(messFromTo).attr('id', 'messFromTo');
            $(messFromTo).addClass('messFromTo');

            // Создание вложенного контейнера в messFromTo
            let messFrTo = document.createElement('div');
            $(messFrTo).addClass('messFrTo');

            // Создание labels
            let labelOne = document.createElement('label');
            $(labelOne).attr('style', 'margin-bottom: 8px;');
            $(labelOne).text('Отправитель:');
            messFrTo.appendChild(labelOne);
            let labelTwo = document.createElement('label');
            $(labelTwo).text('Получатель:');
            $(labelTwo).attr('style', 'margin-bottom: 0px;');
            messFrTo.appendChild(labelTwo);
            messFromTo.appendChild(messFrTo);

            // Создание вложенного контейнера в messFromTo
            let messFrToSelect = document.createElement('div');
            $(messFrToSelect).addClass('messFrToSelect');

            let select = document.createElement('select');
            $(select).attr('id', 'selMened');
            $(select).attr('name', 'selectMenedger');
            $(select).addClass('inpMess');
            $(select).attr('style', 'max-width: 100%; margin-bottom: 5px;');

            let optionOne = document.createElement('option');
            $(optionOne).attr('selected', 'selected');
            $(optionOne).attr('value', 'Autogruz');
            $(optionOne).text('avtogruz@corum.com');
            select.appendChild(optionOne);
            let optionTwo = document.createElement('option');
            $(optionTwo).attr('value','Yalovega');
            $(optionTwo).text('yalovega.denis@corum.com');
            select.appendChild(optionTwo);
            let optionThree = document.createElement('option');
            $(optionThree).attr('value','Vlasov');
            $(optionThree).text('vlasov.yuriy@corum.com');
            select.appendChild(optionThree);
            messFrToSelect.appendChild(select);

            let inpMess = document.createElement('input');
            $(inpMess).addClass('inpMess');
            $(inpMess).attr('type', 'text');
            $(inpMess).attr('name', 'From');
            $(inpMess).attr('value', `${val.emailContragent}`);
            $(inpMess).attr('style', 'max-width: 100%; padding-left: 2px; padding-right: 0px; border: 1px solid gray;');
            messFrToSelect.appendChild(inpMess);
            messFromTo.appendChild(messFrToSelect);
            messageToContragents.appendChild(messFromTo);

            // Создание вложенного контейнера в messageToContragents
            let messBody = document.createElement('div');
            $(messBody).addClass('messBody');

            // Создание параграфа, вложенного в объект messBody
            let preWinParh = document.createElement('p');
            $(preWinParh).addClass('preWin');
            $(preWinParh).append('Уважаемый партнер.<br>Спасибо за участие.<br>Вы стали победителем.<br>Прошу направить данные по автомобилю/ям, водителю в течение 30 минут,<br>заполнив форму перейдя по <a id="linkToFormContr" class="linkToForm" href="#" title="ссылка на форму">ссылке</a>');
            messBody.appendChild(preWinParh);

            // Создание таблицы
            let tableWinner = document.createElement('table');
            $(tableWinner).addClass('tbWinner');

            // Создание тела таблицы tbody
            let tbody = document.createElement('tbody');

            // Создание первой строки таблицы
            let trOne = document.createElement('tr');
            let thOne = document.createElement('th');
            $(thOne).addClass('thMessCont tdThMessCont');
            $(thOne).text('Заявка/номер');
            trOne.appendChild(thOne);
            let tdOne = document.createElement('td');
            $(tdOne).addClass('tdThMessCont');
            $(tdOne).text(`Тендер №${val.numberTender}, Заявка №${val.order}`);
            trOne.appendChild(tdOne);
            tbody.appendChild(trOne);

            // Создание второй строки таблицы
            let trTwo = document.createElement('tr');
            let thTwo = document.createElement('th');
            $(thTwo).addClass('thMessCont tdThMessCont');
            $(thTwo).text('Тип перевозки');
            trTwo.appendChild(thTwo);
            let tdTwo = document.createElement('td');
            $(tdTwo).addClass('tdThMessCont');
            $(tdTwo).text(`${val.transportationType}`);
            trTwo.appendChild(tdTwo);
            tbody.appendChild(trTwo);


            // Создание третьей строки таблицы
            let trThree = document.createElement('tr');
            let thThree = document.createElement('th');
            $(thThree).addClass('thMessCont tdThMessCont');
            $(thThree).text('Маршрут');
            trThree.appendChild(thThree);
            let tdThree = document.createElement('td');
            $(tdThree).addClass('tdThMessCont');
            $(tdThree).text(`${val.route}`);
            trThree.appendChild(tdThree);
            tbody.appendChild(trThree);


            // Создание четвертой строки таблицы
            let trFour = document.createElement('tr');
            let thFour = document.createElement('th');
            $(thFour).addClass('thMessCont tdThMessCont');
            $(thFour).text('Наименование груза/ Вес, т');
            trFour.appendChild(thFour);
            let tdFour = document.createElement('td');
            $(tdFour).addClass('tdThMessCont');
            $(tdFour).text(`${val.nameOfCargo} / ${val.cargoWeight}`);
            trFour.appendChild(tdFour);
            tbody.appendChild(trFour);


            // Создание пятой строки таблицы
            let trFive = document.createElement('tr');
            let thFive = document.createElement('th');
            $(thFive).addClass('thMessCont tdThMessCont');
            $(thFive).text('Дата загрузки требуемая');
            trFive.appendChild(thFive);
            let tdFive = document.createElement('td');
            $(tdFive).addClass('tdThMessCont');
            $(tdFive).text(`${val.dowloadingDate}`);
            trFive.appendChild(tdFive);
            tbody.appendChild(trFive);

            // Создание шестой строки таблицы
            let trSix = document.createElement('tr');
            let thSix = document.createElement('th');
            $(thSix).addClass('thMessCont tdThMessCont');
            $(thSix).text('Дата выгрузки требуемая');
            trSix.appendChild(thSix);
            let tdSix = document.createElement('td');
            $(tdSix).addClass('tdThMessCont');
            $(tdSix).text(`${val.unloadingDate}`);
            trSix.appendChild(tdSix);
            tbody.appendChild(trSix);


            // Создание седьмой строки таблицы
            let trSeven = document.createElement('tr');
            let thSeven = document.createElement('th');
            $(thSeven).addClass('thMessCont tdThMessCont');
            $(thSeven).text('Описание');
            trSeven.appendChild(thSeven);
            let tdSeven = document.createElement('td');
            $(tdSeven).addClass('tdThMessCont');
            $(tdSeven).text(`${val.description}`);
            trSeven.appendChild(tdSeven);
            tbody.appendChild(trSeven);


            // Создание восьмой строки таблицы
            let trEight = document.createElement('tr');
            let thEight = document.createElement('th');
            $(thEight).addClass('thMessCont tdThMessCont');
            $(thEight).text('Кол-во транспортных средств акцептовано');
            trEight.appendChild(thEight);
            let tdEight = document.createElement('td');
            $(tdEight).addClass('tdThMessCont');
            $(tdEight).text(`${val.numberOfVehicles}`);
            trEight.appendChild(tdEight);
            tbody.appendChild(trEight);


            // Создание девятой строки таблицы
            let trNine = document.createElement('tr');
            let thNine = document.createElement('th');
            $(thNine).addClass('thMessCont tdThMessCont');
            $(thNine).text('Цена фрахт, без НДС/ТС');
            trNine.appendChild(thNine);
            let tdNine = document.createElement('td');
            $(tdNine).addClass('tdThMessCont');
            $(tdNine).text(`${val.price}`);
            trNine.appendChild(tdNine);
            tbody.appendChild(trNine);


            // Создание десятой строки таблицы
            let trTen = document.createElement('tr');
            let thTen = document.createElement('th');
            $(thTen).addClass('thMessCont tdThMessCont');
            $(thTen).text('Отсрочка платежа, дней');
            trTen.appendChild(thTen);
            let tdTen = document.createElement('td');
            $(tdTen).addClass('tdThMessCont');
            $(tdTen).text(`${val.paymentDeferment}`);
            trTen.appendChild(tdTen);
            tbody.appendChild(trTen);

            // Добавление tbody в table
            tableWinner.appendChild(tbody);

            // Добавление table в messBody
            messBody.appendChild(tableWinner);

            // Создание параграфа-футера в messBody
            let preWinParhTwo = document.createElement('p');
            $(preWinParhTwo).addClass('preWin');
            $(preWinParhTwo).append('С уважением,<br>Департамент по логистике КОРУМ ГРУП');
            messBody.appendChild(preWinParhTwo);

            messageToContragents.appendChild(messBody);
            detWinner.appendChild(messageToContragents);

            forcheckBoxContrDIV.appendChild(detWinner);
            sectOtherWinner.appendChild(forcheckBoxContrDIV);
            messageToContragents.contentEditable = 'true';
            messFromTo.contentEditable = 'false';
        };
    }


    // Метод для создания и вывода данных о проигравших контрагентах в модальное окно
    function CreateHTMLTableWithDataLosersContragents() {

        let sectOtherColor = document.getElementById('sectOtherColor');


        for (const val of listSameLosers) {

            // Создание вложенного контейнера div
            let forcheckBoxContrDIV = document.createElement('div');
            $(forcheckBoxContrDIV).addClass('forcheckBoxContr');

            // Создание чекбокса для выбора контрагента
            let checkboxContragent = document.createElement('input');
            $(checkboxContragent).attr('type', 'checkbox');
            $(checkboxContragent).attr('checked', 'checked');
            forcheckBoxContrDIV.appendChild(checkboxContragent);

            let detWinner = document.createElement('details');
            $(detWinner).attr('id', 'detWinnerLosers');
            $(detWinner).attr('style', 'margin-top: 1px;');

            // Создание выпадающего заголовка контрагента
            let summary = document.createElement('summary');
            let prepos = `${val.expeditorName} (${val.countLoser} ${(val.countLoser > 1)?'предложения':'предложение'})`;
            $(summary).text(prepos);
            detWinner.appendChild(summary);

            // Создание контейнера в выпадающем элементе
            let messageToContragents = document.createElement('div');
            $(messageToContragents).attr('id', 'messageToContragentsLosers');
            $(messageToContragents).addClass('messageToContrag');

            // Создание вложенного контейнера в messageToContragents
            let messFromTo = document.createElement('div');
            $(messFromTo).attr('id', 'messFromToLoser');
            $(messFromTo).addClass('messFromTo');

            // Создание вложенного контейнера в messFromTo
            let messFrTo = document.createElement('div');
            $(messFrTo).addClass('messFrTo');

            // Создание labels
            let labelOne = document.createElement('label');
            $(labelOne).attr('style', 'margin-bottom: 8px;');
            $(labelOne).text('Отправитель:');
            messFrTo.appendChild(labelOne);
            let labelTwo = document.createElement('label');
            $(labelTwo).text('Получатель:');
            $(labelTwo).attr('style', 'margin-bottom: 0px;');
            messFrTo.appendChild(labelTwo);
            messFromTo.appendChild(messFrTo);

            // Создание вложенного контейнера в messFromTo
            let messFrToSelect = document.createElement('div');
            $(messFrToSelect).addClass('messFrToSelect');

            let select = document.createElement('select');
            $(select).attr('id', 'selMenedLosers');
            $(select).attr('name', 'selectMenedger');
            $(select).addClass('inpMess');
            $(select).attr('style', 'max-width: 100%; margin-bottom: 5px;');

            let optionOne = document.createElement('option');
            $(optionOne).attr('selected', 'selected');
            $(optionOne).attr('value', 'Autogruz');
            $(optionOne).text('avtogruz@corum.com');
            select.appendChild(optionOne);
            let optionTwo = document.createElement('option');
            $(optionTwo).attr('value','Yalovega');
            $(optionTwo).text('yalovega.denis@corum.com');
            select.appendChild(optionTwo);
            let optionThree = document.createElement('option');
            $(optionThree).attr('value','Vlasov');
            $(optionThree).text('vlasov.yuriy@corum.com');
            select.appendChild(optionThree);
            messFrToSelect.appendChild(select);

            let inpMess = document.createElement('input');
            $(inpMess).addClass('inpMess');
            $(inpMess).attr('type', 'text');
            $(inpMess).attr('name', 'From');
            $(inpMess).attr('value', `${val.emailContragent}`);
            $(inpMess).attr('style', 'max-width: 100%; padding-left: 2px; padding-right: 0px; border: 1px solid gray;');
            messFrToSelect.appendChild(inpMess);
            messFromTo.appendChild(messFrToSelect);
            messageToContragents.appendChild(messFromTo);

            // Создание вложенного контейнера в messageToContragents
            let messBody = document.createElement('div');
            $(messBody).addClass('messBody');

            // Создание параграфа, вложенного в объект messBody
            let preWinParh = document.createElement('p');
            $(preWinParh).addClass('preWin');
            $(preWinParh).append('Уважаемый партнер.<br>Спасибо за участие.<br>Ваше предложение по данной заявке/тендеру не конкурентоспособно.');
            messBody.appendChild(preWinParh);

            // Создание таблицы
            let tableWinner = document.createElement('table');
            $(tableWinner).addClass('tbWinner');

            // Создание тела таблицы tbody
            let tbody = document.createElement('tbody');

            // Создание первой строки таблицы
            let trOne = document.createElement('tr');
            let thOne = document.createElement('th');
            $(thOne).addClass('thMessCont tdThMessCont');
            $(thOne).text('Заявка/номер');
            trOne.appendChild(thOne);
            let tdOne = document.createElement('td');
            $(tdOne).addClass('tdThMessCont');
            $(tdOne).text(`Тендер №${val.numberTender}, Заявка №${val.order}`);
            trOne.appendChild(tdOne);
            tbody.appendChild(trOne);

            // Создание второй строки таблицы
            let trTwo = document.createElement('tr');
            let thTwo = document.createElement('th');
            $(thTwo).addClass('thMessCont tdThMessCont');
            $(thTwo).text('Тип перевозки');
            trTwo.appendChild(thTwo);
            let tdTwo = document.createElement('td');
            $(tdTwo).addClass('tdThMessCont');
            $(tdTwo).text(`${val.transportationType}`);
            trTwo.appendChild(tdTwo);
            tbody.appendChild(trTwo);


            // Создание третьей строки таблицы
            let trThree = document.createElement('tr');
            let thThree = document.createElement('th');
            $(thThree).addClass('thMessCont tdThMessCont');
            $(thThree).text('Маршрут');
            trThree.appendChild(thThree);
            let tdThree = document.createElement('td');
            $(tdThree).addClass('tdThMessCont');
            $(tdThree).text(`${val.route}`);
            trThree.appendChild(tdThree);
            tbody.appendChild(trThree);


            // Создание четвертой строки таблицы
            let trFour = document.createElement('tr');
            let thFour = document.createElement('th');
            $(thFour).addClass('thMessCont tdThMessCont');
            $(thFour).text('Наименование груза/ Вес, т');
            trFour.appendChild(thFour);
            let tdFour = document.createElement('td');
            $(tdFour).addClass('tdThMessCont');
            $(tdFour).text(`${val.nameOfCargo} / ${val.cargoWeight}`);
            trFour.appendChild(tdFour);
            tbody.appendChild(trFour);

            // Создание девятой строки таблицы
            let trNine = document.createElement('tr');
            let thNine = document.createElement('th');
            $(thNine).addClass('thMessCont tdThMessCont');
            $(thNine).text('Цена фрахт, без НДС/ТС');
            trNine.appendChild(thNine);
            let tdNine = document.createElement('td');
            $(tdNine).addClass('tdThMessCont');
            $(tdNine).text(`${val.price}`);
            trNine.appendChild(tdNine);
            tbody.appendChild(trNine);

            // Добавление tbody в table
            tableWinner.appendChild(tbody);

            // Добавление table в messBody
            messBody.appendChild(tableWinner);

            // Создание параграфа-футера в messBody
            let preWinParhTwo = document.createElement('p');
            $(preWinParhTwo).addClass('preWin');
            $(preWinParhTwo).append('С уважением,<br>Департамент по логистике КОРУМ ГРУП');
            messBody.appendChild(preWinParhTwo);

            messageToContragents.appendChild(messBody);
            detWinner.appendChild(messageToContragents);

            forcheckBoxContrDIV.appendChild(detWinner);
            sectOtherColor.appendChild(forcheckBoxContrDIV);

            messageToContragents.contentEditable = 'true';
            messFromTo.contentEditable = 'false';
        };
    }

    function DeleteOldDataContragents() {
        let sectOtherWinner = document.getElementById('sectOtherWinner');
        let sectOtherColor = document.getElementById('sectOtherColor');
        sectOtherWinner.innerHTML = "";
        sectOtherColor.innerHTML = "";

        allContragents = [];
        listWinners = [];
        listLosers = [];
        listSameWinners = [];
        listSameLosers = [];
    }

</script>
