@model List<Corum.Models.Tender.TenderServices>

@{
    string[] typeTures = new string[] { "Тендер RFx", "Аукцион/Редукцион" };

    string[] typePublications = new string[] { "Открытый", "Закрытый" };

    string[] regums = new string[] { "Облегченный", "Не облегченный" };

    string[] nmcs = new string[] { "Номенклатура 1", "Номенклатура 2", "Номенклатура 3", "Номенклатура 4", "Номенклатура 5" };

    string[] unitNames = new string[] { "шт.", "послуга"};
}

<div id="partialModul" class="row" style="display: none; margin:auto;">

    @using (Html.BeginForm("SendNotificationTender", "OrderConcurs", FormMethod.Post))
    {
        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Наименование тендера
            </label>
            <div class="col-md-8">
                @Html.TextBox("tenderName")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Автор тендера
            </label>
            <div class="col-md-8">
                @Html.TextBox("authorId", "Иванов П.П.")
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Группа компаний
            </label>
            <div class="col-md-8">
                @Html.TextBox("companyId", "ООО «КОРУМ ГРУПП»")
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Компания заказчик
            </label>
            <div class="col-md-8">
                @Html.TextBox("subCompanyId")
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Категория тендера
            </label>
            <div class="col-md-8">
                @{SelectList listServices = new SelectList(Model.ToList(), "industryId", "industryName"); }
                @Html.DropDownList("services", listServices as SelectList)
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Подразделение компании
            </label>
            <div class="col-md-8">
                @Html.TextBox("depId", "Департамент по логистике")
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Бюджет тендера
            </label>
            <div class="col-md-8">
                @Html.TextBox("budget", "0")
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Тип тура
            </label>
            <div class="col-md-8">
                @{SelectList listTures = new SelectList(typeTures); }
                @Html.DropDownList("ture", listTures as SelectList)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Тип публикации
            </label>
            <div class="col-md-8">
                @{SelectList listPublications = new SelectList(typePublications); }
                @Html.DropDownList("typePublication", listPublications as SelectList)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Дата создания тендера
            </label>
            <div class="col-md-8">
                <input type="datetime-local" name="dateCreate" />
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Дата окончания приема предложений
            </label>
            <div class="col-md-8">
                <input type="datetime-local" name="dateClose" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Режим подачи тендера
            </label>
            <div class="col-md-8">
                @{SelectList listRegums = new SelectList(regums); }
                @Html.DropDownList("regume", listRegums as SelectList)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Наименование лота
            </label>
            <div class="col-md-8">
                @Html.TextBox("lotName", "Лот №1")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Номенклатура
            </label>
            <div class="col-md-8">
                @{SelectList listnmcs = new SelectList(nmcs); }
                @Html.DropDownList("nmcName", listnmcs as SelectList)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Единица измерения
            </label>
            <div class="col-md-8">
                @{SelectList listUnitNames = new SelectList(unitNames); }
                @Html.DropDownList("unitName", listUnitNames as SelectList)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4" style="font-weight: normal !important;">
                Количество
            </label>
            <div class="col-md-8">
                <input type="number" min="1" value="1" name="qty" />
            </div>
        </div>

        <div style="float:right;">
            <button class="btn btn-default" onclick="$('#partialModul').dialog('close');" type="reset" name="action" value="">Отмена</button>
            <button class="btn btn-success" type="submit" name="action" value="">Отправить</button>
        </div>

    }
</div>
