@using Corum.Models.ViewModels.Orders;

@model Corum.Models.ViewModels.Orders.OrdersTruckTransportViewModel
<div id="detailValuesGrid" class="table-header clearfix col-md-12" style="padding:0px; font-size: 11px; margin-left: 3px;">
    @Html.HiddenFor(model => model.RouteId)
    @Html.HiddenFor(model => model.ShipperId)
    @Html.HiddenFor(model => model.ConsigneeId)
    <table class="table table-striped table-bordered no-footer grid-table table-points">
        <thead>
            <tr class="tr-points">
                <td width="20%"></td>
                <td width="10%">Страна</td>
                <td width="30%">Город, адрес</td>
                <td width="25%">Наименование</td>
                <td style="width:15%;">
                    <a id="SelectRouteBtn" class="btn btn-default" onclick="SelectRoute()">
                        <span class="tooltip-message" style="padding: 15px;">Маршрут</span>
                    </a>
                </td>
                <td style="width:5%;"></td>
            </tr>
            <tr class="tr-points-orange">
                <td>Точка отправления</td>
                <td id="countryFromName">@Model.ShipperCountryName</td>
                <td id="cityAdressFrom">@Model.ShipperCity, @Model.ShipperAdress</td>
                <td id="nameFrom">@Model.Shipper</td>
                <td id="RouteInfo" rowspan="2" style="color: #000; vertical-align: middle;"> @Model.RouteInfoStr</td>
                <td id="RouteInfo" rowspan="2" style="color: #000; vertical-align: middle;">
                <a  class="tarash-i tooltips" onclick="CleanRoute()">
                     <span class="tooltip-message">Очистить маршрут</span>
                     <span class="glyphicon glyphicon-remove" style="padding: 1px;"></span>
               </a>             
                </td>
            </tr>
            @*@if (@Model.RoutePointsLoadInfo != null) { 
            foreach (var item in @Model.RoutePointsLoadInfo)
            {
                <tr style="color: darkorange;  border:2px solid #dce4ec;">
                    <td></td>
                    <td>@item.CountryPoint</td>
                    <td>@item.CityPoint, @item.AddressPoint</td>
                    <td>@item.NamePoint</td>
                </tr>
            }
            }*@
            <tr class="tr-points-brown">
                <td>Точка прибытия</td>
                <td id="countryToName">@Model.ConsigneeCountryName</td>
                <td id="cityAdressTo">@Model.ConsigneeCity, @Model.ConsigneeAdress</td>
                <td id="nameTo">@Model.Consignee</td>
            </tr>
            @if (@Model.RoutePointsInfo != null)
            {
                foreach (var item in @Model.RoutePointsInfo)
                {
                    <tr style="color: saddlebrown;  border:2px solid #dce4ec;">
                        <td>@item.FullNamePointType</td>
                        <td>@item.CountryPoint</td>
                        <td>@item.CityPoint @item.AddressPoint</td>
                        <td>@item.NamePoint</td>
                    </tr>

                }
            }
        </thead>
    </table>
</div>

