@model Corum.Models.OrderNavigationResult<Corum.Models.ViewModels.Orders.OrderObserverViewModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Наблюдатели за заявкой";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@helper TPagging(string action, string controller, Corum.Models.NavigationInfo navInfo, WebViewPage page)
{
    <div class="table-footer clearfix">

        @{
            var proc = string.Concat("OnPageSizeTemplateChange('", page.Url.Action(@action, @controller), "');");
        }

        <div class="pull-left dropdown-footer">
            @page.Html.DropDownListFor(model => navInfo.PageSize,
                                 (List<System.Web.Mvc.SelectListItem>)navInfo.PageSizeTemplates,
                                                   new { @id = "PageSizeTemplates", onchange = proc })
        </div>

    </div>

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 main">
            <h4>Пользователи, отслеживающие изменения по заявке</h4>

            @Html.Partial("_OrderHeaderInfo", Model.orderInfo)

            <hr>

            <div class="table-header clearfix">

                <div class="col-md-12 main">
                    @Html.ActionLink("В заявку", "UpdateOrder", "Orders", new { Id = Model.orderInfo.Id }, new { @class = "btn btn-success", @style = "margin-bottom:10px" })
                    @if (Model.orderInfo.IsTransport)
                    {
                        @Html.ActionLink("Реестр заявок", "Orders", "Orders", null, new { @class = "btn btn-success", @style = "margin-bottom:10px" })
                    }
                    else
                    {
                        @Html.ActionLink("Реестр заявок", "OrdersBase", "Orders", null, new { @class = "btn btn-success", @style = "margin-bottom:10px" })
                    }
                    @Html.ActionLink("Новый наблюдатель", "NewObserver", "Orders", new { OrderId=Model.orderInfo.Id }, new { @class = "btn btn-primary", @style = "margin-bottom:10px" })
                </div>

                <div style="font-size: 13px;">
                @(Html.Grid(Model.DisplayValues)
                  .Columns(columns =>
                  {

                  columns.Add(model => model.observerName)
                    .Titled("Наблюдатель").Filterable(true).Sortable(true);

                  columns.Add(model => model.observerEmail)
                    .Titled("E-mail").Filterable(true).Sortable(true);

                  columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .Css("centered_column")
               .RenderValueAs(o =>
                @<div class="edit-delete-copy-links">

                    <a class="tarash-i update_link tooltips" href="@Url.Action("DeleteObserver", "Orders", new { Id = o.Id, OrderId = Model.orderInfo.Id })">
                        <span class="tooltip-message">Удалить наблюдателя</span>
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>

                </div>);

                }).Filterable().WithPaging((int)Model.RequestParams.PageSize).WithMultipleFilters())
                </div>
            </div>

            @TPagging("OrderObservers", "Orders", @Model.RequestParams, this)

        </div>
    </div>
</div>

