@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@model CorumAdminUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли свой пароль?";
}
<div class="bg-login-sl"></div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
            <div class="logo-login"></div>
            <h2 class="title-t2">@ViewBag.Title</h2>
            <div class="well bs-component form_tl">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4 class="form_tl">Введите ваш e-mail</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-default btn-tl" value="Отправить письмо на почту" />
                        </div>
                    </div>
                }
            </div>
            </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
